
<div class="container">

  <%= form_for([@post, @post.comments.build], url: post_comments_path(@post.id), method: :post, remote: true) do |f| %>
    <% if !parent.nil? %>
      <input type="hidden" name="comment[parent_id]" value="<%= parent.id %>">
    <% end %>

    <div class="feild form-group pb-2">
      <%= f.text_area :comment, required: true, class:"form-control", placeholder:"Comment" %>
    </div>  
    <div class="feild form-group pb-4">
    <%= f.label :picture %>
    <%= f.file_field :picture, class:"form-control"%>
    </div>  
    <div class="actions d-flex justify-content-end">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
    <hr/>
  <% end %>
</div>



