<nav class="navbar navbar-expand-lg navbar-light navbar navbar-dark bg-dark" style="background-color: #29859C;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="color: #ECF7F9;">
        
        <% if user_signed_in? %>
        
        <li class="nav-item">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-link"%>        
        </li>
        <li class="nav-item">
        <%= link_to "Edit Profile", edit_user_registration_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
        <%= link_to "Home", posts_path, class:"nav-link"%>
        </li>
        <li class="nav-item">
        <%= link_to "My Posts", users_path, class:"nav-link"%>
        </li>
        <% if current_user.admin?%>
        <li class="nav-item">
        <%= link_to "Dashboard", rails_admin_path, class:"nav-link"%>
        </li>
        <%end%>
        <%elsif%>
        <li class="nav-item">
        <%= link_to "Blog app", class:"nav-link"%>        
        </li>
        <% end %>
      </ul>
      
    </div>
  </div>
</nav>


