<%= raw pagy_nav(@pagy) %>
<%= link_to "New Post", new_post_path, class:'btn btn-primary'%>
<div class="container">
<div class="row">
<%@posts.each do |post|%>
<div class=" col-6 ">
<% if (post.unpublish? || post.publish? ) && current_user == post.user%>
    <div class="card w-75 shadow py-2">
        <div class="card-body">
            <% if post.image.attached?%>
            <img src=<%= url_for(post.image) %> class="img-fluid">
            <%end%>
            <h5 class="card-title py-2">Title : 
                <%= post.title%>
                </h5>
                <div class="align py-2">
                <div class="card-text">
                 Description:   <%=  post.body%>
                </div>
                </div>
                <%= link_to 'Show', post, class:"btn btn-primary "%>
        </div>
    </div>
<%end%>
<br>
</div>
<%end%>

</div>
</div>


