
<div class="container ">
    <%= form_for @post do |f| %>
    <%@post.errors.full_messages.each do |message|%>
    <%=message%><br>
    <%end%>
    <% if current_user.moderator?%>
    <div>    
    <%= f.label :Post_Type %>    
    <%= f.select :status, Post.statuses.keys.to_a %>  
    <div class="actions d-flex justify-content-end">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
    </div>
    <%else%>
    <div class="field form-group py-4">
    <%= f.text_field :title,class:"form-control", placeholder:"Title" %>
    </div>
    <div class="trix-content">
      <%= f.rich_text_area :body %>
  </div>
  <div class="field form-group py-5">
    <% if @post.image.attached? %>  
    <%= image_tag @post.image, style:"width: 200px; display: block" %>
    <%end%>
    <%= f.label :image %>
    <%= f.file_field :image, class:"form-control"%>
    </div>
    <div class="actions d-flex justify-content-end">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
    <% end %>
</div>
<%end%>

