<div class="container d-flex flex-row">
<%@post.each do |post|%>
<% if post.unpublish? && current_user.moderator?%>
    <div class="card w-50 shadow">
     <h4> Post to be approved : </h4>
        <div class="card-body">
            <img src=<%= url_for(post.image) %> class="img-thumbnail">
            <h5 class="card-title">Title : 
                <%= post.title%>
                </h5>
                <br/>
                <p class="card-text">Description : 
                <%=  post.body%>
                </p><br>
                <%= link_to 'Show', post, class:"btn btn-primary"%>
        </div>
    </div>
<br/>
<% elsif post.publish? && current_user.user?%>
<div class="card w-50 shadow">
        <div class="card-body">
            <img src=<%= url_for(post.image) %> class="img-thumbnail">
            <h5 class="card-title">Title :
                <%= post.title%>
                </h5>
                <br/>
                <p class="card-text">Description : 
                <%=  post.body%>
                </p><br>
                <%= link_to 'Show', post, class:"btn btn-primary"%>
        </div>
    </div>
    <br/><br/>
<% elsif post.publish? && post.reports.count > 0 %>
<div class="card w-50 shadow">
        <h4> Reported Post : </h4>
        <div class="card-body">
            <img src=<%= url_for(post.image) %> class="img-thumbnail">
            <h5 class="card-title">Title :
                <%= post.title%>
                </h5>
                <br/>
                <p class="card-text">Description : 
                <%=  post.body%>
                </p><br>
                <%= link_to 'Show', post, class:"btn btn-primary"%>
        </div>
    </div>
    <br/><br/>    
<%end%>
<%end%>

</div>


