<div class="container-fluid">
<%@post.each do |post|%>
<% if post.unpublish? && current_user.admin?%>
    <div class="card" style="width: 38rem;">
        <div class="card-body">
            <h5 class="card-title">
                <%= post.title%>
                </h5>
                <p class="card-text">
                <%= post.content%>
                </p><br>
                <%= link_to 'Show', post, class:"btn btn-primary"%>
        </div>
    </div>
<br>
<% elsif post.publish? && current_user.user?%>
<div class="card" style="width: 38rem;">
        <div class="card-body">
            <h5 class="card-title">
                <%= post.title%>
                </h5>
                <p class="card-text">
                <%= post.content%>
                </p><br>
                <%= link_to 'Show', post, class:"btn btn-primary"%>
        </div>
    </div>
<%end%>
<%end%>

</div>

