<div class="article">
<p>

<strong class="py-2"><%= suggestion.content %></strong>
<strong>by</strong> <%= suggestion.user.email %>
<%if current_user == @post.user%>
<div class="comment-form">
<%= render partial: 'suggestions/form', locals: { post: suggestion.post, parent: suggestion } %>
</div>
<div class="px-5">
<%= render suggestion.suggestions%>
</p>
</div>
<%end%>
<hr/>
</div>

<% if current_user == @post.user %>
<%= link_to 'Delete', [suggestion.post,suggestion], method: :delete, class:"btn btn-danger"%>
<% end %>

